* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;

  letter-spacing: 0.1em;

  color: $color-gray;

  font-family: $font-main;
  font-size: $font-size;
  line-height: 1.15;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}


h2 {
  margin-top: 0;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 56px;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 42px;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 36px;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 36px;

    text-align: center;
  }
}

a {
  text-decoration: none;

  color: $color-light;
}

p {
  color: $color-gray;

  @include lg-min {
    font-size: 1.125rem ;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;
  letter-spacing: 0.1em;

  background-color: rgba($color-light, 0.1);
}

.btn--light {
  border: 2px solid $color-light;
  background-color: rgba($color-light, 0.1);

  @include lg-min {
    min-width: 250px;
    height: $gap * 3;

    font-size: 1.125rem;
  }
  @include lg-md {
    min-width: 200px;
    height: $gap / 2 * 5;
  }
  @include md {
    min-width: 170px;
    height: $gap * 2;
  }
}

.btn--primary {
  height: 60px;

  border: 2px solid $color-primary;
  background-color: rgba($color-primary, 0.8);

  font-size: 1.125rem;

  @include sm {
    min-width: 100%;
  }
}

.btn:hover,
.btn:focus {
  outline: none;
  background-color: $color-accent;
}
