.form {
  background-color: $color-primary;

  .btn--primary {
    width: 100%;
    height: $gap * 3;

    transition: border 0.5s, background-color 0.5s;

    color: $color-light;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
  }

  .btn--primary:hover,
  .btn--primary:focus {
    border: 2px solid $color-light;
    background-color: $color-accent;
  }
}
